extends layout

block content

	//- .container
	//- 	.row
	//- 		.col-md-4
	//- 			h2 Heading
	//- 			p Bacon ipsum dolor amet pork loin tongue sausage turkey kevin. Tenderloin alcatra turducken picanha, turkey ham tri-tip fatback cupim pork loin ribeye prosciutto sausage leberkas. Salami tenderloin cupim pancetta biltong kielbasa turkey ground round pig pork filet mignon bresaola. Prosciutto pork loin jowl cupim ribeye turkey.
	//- 		.col-md-4
	//- 			h2 Heading
	//- 			p Bacon ipsum dolor amet pork loin tongue sausage turkey kevin. Tenderloin alcatra turducken picanha, turkey ham tri-tip fatback cupim pork loin ribeye prosciutto sausage leberkas. Salami tenderloin cupim pancetta biltong kielbasa turkey ground round pig pork filet mignon bresaola. Prosciutto pork loin jowl cupim ribeye turkey.
	//- 		.col-md-4
	//- 			h2 Heading
	//- 			p Bacon ipsum dolor amet pork loin tongue sausage turkey kevin. Tenderloin alcatra turducken picanha, turkey ham tri-tip fatback cupim pork loin ribeye prosciutto sausage leberkas. Salami tenderloin cupim pancetta biltong kielbasa turkey ground round pig pork filet mignon bresaola. Prosciutto pork loin jowl cupim ribeye turkey.
	



