doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Side Road | Travel Far & Wide
		
		
		link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="/stylesheets/main.css")


	body


		.jumbotron
			
			.container
				h1 Side Road
				p It's about the journey, not the destination
				//- hr
				.perfect-center
					//- .input-container
					form#route
						.form-group
							.icon
								i.fa.fa-map-marker
							input#pac-input.form-control.user-input(type='text', name='origin', placeholder='Enter origin')
						.form-group2
							.icon2
								i.fa.fa-map-marker
							input#pac-input2.form-control.user-input(type='text', name='destination', placeholder='Enter destination')
						.form-group
							.icon3
								i.fa.fa-tag
							input.form-control.user-input(type='text', name='keyword', placeholder='Enter keyword')
						.submit-float
							p
								button.btn.btn-default(type="submit" href="#map-canvas")
									i.fa.fa-angle-double-down

		div#map-canvas

		.row
			.col-md-6
				h3.bottom-heading Top Attractions
				div#locations
			.col-md-6
				h3.bottom-heading Your Route
				//- input.form-control.get-directions(type="submit" value="Get Directions") 
				//- hr
				div#directions

		
		



		
		//- .route-summary
		//- 	h3.route-beg
		//- 	.way-points
		//- 	h3.route-end
			
			
	

		

	#templates
		#location-tpl
			.row
				.col-md-10
					//- img.location-img(src="//placehold.it/25x25")
					h3.location-name Location name
					p.location-street Location Street
					p.location-city Location City state
				//- .clearfix
				.col-md-2
					.location-favorite 
						i.fa.fa-star

		#waypoint-tpl
			.vertical-ellipses
				i.fa.fa-ellipsis-v
			.waypt-loc
			.vertical-ellipses
				i.fa.fa-ellipsis-v


	//- SCRIPTS
	script(type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyAFukM1F_d1PYoMQu8djXU-Bljfi8fyhWI&libraries=places")
	script(type="text/javascript" src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/routeboxer/src/RouteBoxer.js")
	script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
	script(type="text/javascript" src="/scripts/main.js")
		