doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Side Road | Travel Far & Wide
		
		link(rel="stylesheet" href="/stylesheets/main.css")
		link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel="stylesheet" href="http://getbootstrap.com/examples/cover/cover.css")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")


	body


		.jumbotron
			.perfect-center
				.container
					h1 Side Road
					p It's about the journey, not the destination

					form#route
						.form-group
							i.fa.fa-map-marker
								input#pac-input.form-control(type='text', name='origin', placeholder='Enter origin')
						.form-group2
							i.fa.fa-map-marker
								input#pac-input2.form-control(type='text', name='destination', placeholder='Enter destination')
						p
							button.btn.btn-default(type="submit") Explore!

		

		block content

		div#map-canvas

		.container#locations

			#templates
				.location-tpl
					img.location-img(src="http://placehold.it/75x75")
					h3.location-name Location name
					p.location-street Location Street
					p.location-city Location City state
						.clearfix
					.location-type Location Type
					.location-rating 
						i.fa.fa-star

	//- SCRIPTS
	script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places")
	script(type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/routeboxer/src/RouteBoxer.js")
	script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(type="text/javascript" src="http://getbootstrap.com/dist/js/bootstrap.min.js")
	script(type="text/javascript" src="/scripts/main.js")
		